$NAME: "xtylist__Popover";

// .#{$NAME} { color: red; }
.#{$NAME} {
  background-color: transparent;
  position: relative;
  display: block;

  > :nth-child(2) {
    position: absolute;
    z-index: 1000;
    width: 100%;

    > :first-child {
      height: 100%;
      width: 100%;
    }

    &.right {
      right: 0 !important;
    }

    &.center-x {
      left: 50% !important;
      transform: translateX(-50%) !important;
    }

    &.left {
      left: 0 !important;
    }

    &.center-y {
      top: 50% !important;
      transform: translateY(-50%) !important;

      &.right {
        transform: translateY(-50%) translateX(100%) !important;
      }
      &.left {
        transform: translateY(-50%) translateX(-100%) !important;
      }

      &.center-x {
        transform: translateY(-50%) translateX(-50%) !important;
      }
    }

    &.top {
      top: 0 !important;
      transform: translateY(-100%) !important;

      &.center-x {
        transform: translateY(-100%) translateX(-50%) !important;
      }
    }

    &.bottom {
      bottom: 0 !important;
      transform: translateY(100%) !important;

      &.center-x {
        transform: translateY(100%) translateX(-50%) !important;
      }
    }
  }
}
