$NAME: "xtylist__Button";

// .#{$NAME} { color: red; }

:root {
  --button-radius: 4px;
}

// Usage:
.#{$NAME} {
  margin: 0;
  border: none;
  background-color: transparent;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  // Default Medium (md)
  font-size: 1rem;
  font-weight: 700;
  height: 44px;
  padding: 0 16px;
  border-radius: var(--button-radius);

  // Small
  &.is-small {
    font-size: 0.875rem;
    font-weight: 600;
    height: 32px;
    padding: 0 8px;
  }

  // Large
  &.is-large {
    font-size: 1.25rem;
    height: 56px;
    padding: 0 24px;
  }

  // Large
  &.is-stack {
    flex-direction: column;
  }
}
