$NAME: "xtylist__Fab";

// .#{$NAME} { color: red; }
.#{$NAME} {
  margin: 0;
  border: none;
  background-color: transparent;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // Default Medium (md)
  height: 44px;
  width: 44px;
  border: 1px solid transparent;
  border-radius: 100%;

  // Small
  &.is-small {
    font-weight: 600;
    height: 32px;
    width: 32px;
  }

  // Large
  &.is-large {
    height: 56px;
    width: 56px;
  }
}
