:root {
  --app-header-layer: 101;
  --app-footer-layer: 101;
  --app-left-layer: 102;
  --app-right-layer: 102;
}

:root {
  --app-overlay-layer: 201;
  --app-dialog-layer: 202;
  --app-popover-layer: 202;
}
